@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>We are creative and highly motivated students on the SEDC bootcamp which are developing awesome applications together with the two cool trainers Martin and Filip.</p>