@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p><strong>E-mail:</strong> info@estore.com</p>
<p><strong>Phone:</strong> +389 70 556 998</p>
<p><strong>Location:</strong> 11th October St. 33a, Skopje 1000 MK, Skopje 1000</p>

