@using SEDC.E_store.App.Models.ViewModels;
@model PhoneDetailsViewModel

<h2>@Model.Name</h2>
<h4><strong>Description </strong>@Model.Description</h4>
<h4><strong>Reviews: </strong></h4>
@foreach (var review in Model.Reviews)
{
    <p><strong> @review</strong></p>
}